/* blackish = #222 */
/* gray = #555 */

body {
  background: #222;
  color: white;
  font-family: helvetica;
  text-align: center;
}

.turn div {
  height: 15vmin;
  width: 20vmin;
  display: inline-block;
  line-height: 15vmin;
  white-space: nowrap;
  margin: 2vmin;
  background-color: #555;
  font-size: 3vmin;
  border: none;
  border-radius: 5vmin;
}

.dialog {
  font-size: 3.5vmin;
  margin: 2.5vmin;
}

.board button {
  height: 20vmin;
  width: 20vmin;
  margin: 1vmin;
  background: #555;
  border: none;
  border-radius: 1vmin;
  font-size: 4vmin;
}
